---
layout: default
redirect_from: "/about"
---

<div class="container home">
  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive center-block" src="assets/headshot.jpg" img width="150" />
    </div>
    <div class="col-sm-9">
      <p>
        Hi, I am a Research Scientist at the <a href="https://rai-inst.com/">Robotics and AI Institute</a>.
      </p>
      <p>
        My research focuses on robot post-training via reinforcement learning: finetuning pretrained policies through real-world interaction for manipulation.
      </p>
      <p>
        I received my PhD from the Carnegie Mellon University Robotics Institute, where I was advised by <a href="http://davheld.github.io/">David Held</a>.
      </p>
      <p>
        <a href="resources/cv.pdf">[ CV ]</a> &ensp; <a href="https://scholar.google.com/citations?hl=en&user=RGox7v4AAAAJ&view_op=list_works">[ Google Scholar ]</a> &ensp; <a href="https://github.com/thomasweng15">[ Github ]</a> &ensp; <a href="https://twitter.com/thomas_weng">[ X ]</a>
      </p>
      <p>
        Contact: tweng (at) rai-inst.com
      </p>
    </div>
  </div>
</div>

<h2>News</h2>

<ul>
  {% assign news_items = site.data.news %}
  {% for news_item in news_items limit:9 %}
    <li>
      {{ news_item }}
    </li>
  {% endfor %}
  <li><a href="/news">...see all news</a></li>
</ul>

<h2>Blog Posts</h2>

<div class="posts">
  {% for post in site.posts limit:4 %}
    <article>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </article>
  {% endfor %}
  <a href="/archive/index">...see all posts</a>
</div>

<h2>Publications</h2>

<table cellpadding="10" width="100%">
  {% for pub in site.data.pubs %}
    {% include pub.html %}
  {% endfor %}
</table>
