---
layout: default
redirect_from: "/about"
---

<div class="container home">
  <div class="row">
    <div class="col-sm-3">
      <img class="img-responsive center-block" src="assets/headshot.jpg" img width="150" />
    </div>
    <div class="col-sm-9">
      <p>
        Hi, I am a robotics research scientist at the <a href="https://rai-inst.com/">Robotics and AI Institute</a> (formerly the Boston Dynamics AI Institute). My research focuses on developing sample-efficient algorithms that enable robots to learn and adapt in the real world, with the goal of enabling robots to perform diverse manipulation tasks in unstructured human environments. 
      </p>
      <p>
        Prior to my current role, I completed my PhD with with Prof. <a href="http://davheld.github.io/">Dave Held</a> at the CMU Robotics Institute. I also previously worked on human-robot interaction with Prof. <a href="https://homes.cs.washington.edu/~mcakmak/">Maya Cakmak</a> at UW and Prof. <a href="http://www.cs.yale.edu/homes/scaz/">Brian Scassellati</a> at Yale. 
      </p>
      <p>
        <a href="resources/cv.pdf">[ cv ]</a> &ensp; <a href="https://scholar.google.com/citations?hl=en&user=RGox7v4AAAAJ&view_op=list_works">[ google scholar ]</a> &ensp; <a href="https://github.com/thomasweng15">[ github ]</a> &ensp; <a href="https://twitter.com/thomas_weng">[ twitter ]</a>
      </p>
      <p>
        Contact: tweng (at) rai-inst.com
      </p>
    </div>
  </div>
</div>

<h2>News</h2>

<ul>
  {% assign news_items = site.data.news %}
  {% for news_item in news_items limit:9 %}
    <li>
      {{ news_item }}
    </li>
  {% endfor %}
  <li><a href="/news">...see all news</a></li>
</ul>

<h2>Recent Blog Posts</h2>

<div class="posts">
  {% for post in site.posts limit:7 %}
    <article>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </article>
  {% endfor %}
  <a href="/archive/index">...see all posts</a>
</div>

<h2>Publications</h2>

<table cellpadding="10" width="100%">
  {% for pub in site.data.pubs %}
    {% include pub.html %}
  {% endfor %}
</table>
