	 <div class="sidebar col-sm-4">
	   <h1>Recent Posts</h1>

	   <ul>
	     {% for post in site.posts limit:5 %}
	     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	     {% endfor %}
	   </ul>
	   <ul>
		   <li><a href="/archive/index">...see all</a></li>
	   </ul>

	   <!-- <h1>Most Popular</h1>
	   <ul>
	     {% for post in site.tags.popular limit:5 %}
	     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	     {% endfor %}
	   </ul> -->

	   <h1>Topics</h1>
	   <ul>
	     {% assign sorted_tags = site.tags | sort %}
	     {% for tag in sorted_tags %}
	     {% if tag[0] != 'popular' %}
	     {% assign tag_len = tag[1].size %}
	     <li><a href="/tag/{{tag[0]}}">{{ tag[0] }}</a> ({{ tag_len }})</li>
	     {% endif %}
	     {% endfor %}
	   </ul>

	 </div>
